body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:508px;
  width:300px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:230px;
  top:230px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:115px;
  top:22px;
  width:91px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:129px;
  top:31px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
