body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u313 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:1500px;
  top:981px;
  width:241px;
  height:39px;
}
#u315 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:1862px;
  top:9px;
  width:53px;
  height:39px;
}
#u317 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
