body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:230px;
  width:410px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:790px;
  top:230px;
  width:200px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:580px;
  top:230px;
  width:190px;
  height:250px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
