body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1254px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:890px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:890px;
}
#u1 {
  position:absolute;
  left:2px;
  top:437px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:115px;
  top:60px;
  width:1024px;
  height:768px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u3 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1160px;
  top:410px;
  width:70px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:380px;
  top:270px;
  width:500px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:496px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:850px;
  top:280px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:587px;
  top:344px;
  width:86px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
