body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:810px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:810px;
}
#u1 {
  position:absolute;
  left:2px;
  top:397px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:476px;
  top:130px;
  width:100px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
