body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u219 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:9px;
  top:512px;
  width:303px;
  height:39px;
}
#u221 {
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
