body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:890px;
  top:700px;
  width:135px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
