body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:728px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u107 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:124px;
  top:585px;
  width:73px;
  height:25px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u110 {
  position:absolute;
  left:408px;
  top:0px;
  width:320px;
  height:568px;
}
#u111 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u112 {
  position:absolute;
  left:523px;
  top:585px;
  width:91px;
  height:25px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 255, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:10px;
  top:509px;
  width:302px;
  height:46px;
}
#u115 {
  position:absolute;
  left:2px;
  top:15px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
