body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1420px;
  top:430px;
  width:60px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:1420px;
  top:550px;
  width:60px;
  height:420px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
